.numeric-dir
  input(type='text', inputmode='numeric', ng-model='ngModel', placeholder='{{placeholder}}', tabindex='{{tab}}', ng-disabled='numDisabled')
  .up(ng-click='up()', ng-show='spinner') +
  .down(ng-click='down()', ng-show='spinner') -