.menu-dir
  ul.menu
    li
      a(ui-sref='dashboard', ng-class='{selected:state("dashboard")}') {{ m('menu-dashboard') }}
    li
      a(ui-sref='selling', ng-class='{selected:state("selling")}', ng-show='auth.isAuthorized("selling")') {{ m('menu-selling') }}
    li
      a(ui-sref='letting', ng-class='{selected:state("letting")}', ng-show='auth.isAuthorized("letting")') {{ m('menu-letting') }}
    li
      a(ui-sref='valuation', ng-class='{selected:state("valuation")}', ng-show='auth.isAuthorized("valuation")') {{ m('menu-valuation') }}
    li
      a(ui-sref='history', ng-class='{selected:state("history")}', ng-show='auth.isAuthorized("history")') {{ m('menu-history') }}
    li
      a(ui-sref='lead-new', ng-class='{selected:state("lead-new")}', ng-show='auth.isAuthorized("lead-new")') {{ m('menu-lead-new') }}
    li
      a(ui-sref='setup', ng-class='{selected:state("setup")}', ng-show='auth.isAuthorized("setup")') {{ m('menu-setup') }}
    li
      a.log-out(href='/api/logout', target='_self') {{ m('menu-logout') }}