vs-white = #fbfbfb
vs-brightwhite = #fdfdfd
vs-text = #394a58
vs-link = #44789f
vs-silver = #9ca4ab
vs-lightsilver = #e7eef3
vs-red = #bd1622
vs-warning = #d17b36
$state-danger = #B01326
$state-warning = #D17B36
$state-success = #45A951
$primary-base = #165788
$primary-accent = #BE1622
$primary-neutral = #9A9B9C
no-select()
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none